#root {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  // padding: 2rem;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #9bbbf1;
  background-image: url(/images/des-mapa-dia.png);
  background-size: 100% auto;
  background-position: center top;
  background-repeat: repeat-y;
  transition: background 0.5s ease;
}

body.dark-mode {
  background: #141428;
  background-image: url(/images/mapa-noche.png);
  background-size: 100% auto;
  background-position: center top;
  background-repeat: repeat-y;
  transition: background 0.5s ease;
}

//HEADER
.page-main {
  margin: auto;
  padding: 2rem 1rem 4rem;
}

.page-main p { //mensaje error otra casa
  font-size: 2rem;
  font-weight: bold;
  text-shadow:
    -1px -1px 2px #fff,
     1px -1px 2px #fff,
    -1px  1px 2px #fff,
     1px  1px 2px #fff;
}

.page-header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2.5rem 1rem 3rem;
}

.page-header__logo {
  max-width: 40rem;
  width: 100%;
  height: auto;
}

//FILTROS
.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-name, .filter-house, .filter-sort {
  width: 15rem;
  font-weight: bold;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
  border-radius:8px;
  border: 2px solid transparent;
  outline: none;
  transition: border-color 0.5s ease, box-shadow 0.5s ease;

  &:focus {
  border-color: #d4af37;
  box-shadow: 0 0 8px #ffd70066;
  }
}

//BOTÓN BORRAR Y MOSTRAR MÁS
.btn-reset { 
  font-size: 0.95rem;
  font-weight: bold;
  padding: 0.5rem 1.6rem;
  border-radius: 6px;
  border: 2px solid #d4af37;
  background: linear-gradient(135deg, #ffd700, #ffed4e);
  color: black;
  outline: none;
  cursor: pointer;
  box-shadow: 0 4px 12px #ffd70066;
      
  &:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px #ffd70099;
  }
}

.btn-load-more {
  min-width: 6.5rem;
  display: block;
  margin: 1rem auto;
  font-size: 0.95rem;
  font-weight: bold;
  padding: 0.5rem 1.6rem;
  border-radius: 6px;
  border: 2px solid #d4af37;
  background: linear-gradient(135deg, #ffd700, #ffed4e);
  color: black;
  outline: none;
  cursor: pointer;
  box-shadow: 0 4px 12px #ffd70066;
      
  &:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px #ffd70099;
  }
}

//BOTONES DE TEMA
.theme-button {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.btn-lumos,
.btn-nox {
  min-width: 9rem;
  padding: 0.8rem 2rem;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition:
    color 0.5s ease,
    box-shadow 0.5s ease,
}

.btn-nox {
  border: 2px solid #1a1a2e;
  background: linear-gradient(135deg, #2c2c54, #1a1a2e);
  color: #fff;
  box-shadow: 0 4px 12px #00000080;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px #00000080;
  }
}

.btn-lumos {
  border: 2px solid #d4af37;
  background: linear-gradient(135deg, #ffd700, #ffed4e);
  color: #4d1f06;
  box-shadow: 0 4px 12px #ffd70066;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px #ffd70099;
}
}


//LISTA
.character-list {
  display: grid;
  grid-template-columns: repeat(3, 280px);
  justify-content: center;
  gap: 4rem 8rem;
  list-style: none;
  padding: 0;
  margin: 2rem 1rem;
  max-width: 100%;
}

.character-list li {
  list-style: none;
  overflow: visible;
}


//CARD
.character-card {
  position: relative;
  width: 100%;
  padding-top: 115%;
}

.character-card__window { //hueco foto
  position: absolute;
  top: 15%;
  left: 22%;
  width: 64%;
  height: 60%;
  overflow: hidden;
  z-index: 1;
}

.character-card__photo { //foto
  width: 90%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
}

.character-card__frame { //marco
  position: absolute;
  top: -10%;
  left: -10%;
  right: -10%;
  bottom: -10%;
  transform: translateY(-9%);
  background-image: url(/images/card-front.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
//pointer-events: none; 
  transition: filter 0.5s ease;
}

.character-card:hover .character-card__frame {
  filter:
    drop-shadow(0 0 8px #ffd70066)
    drop-shadow(0 0 16px #ffd70099)
    brightness(1.2);
}

.character-card h2 { //nombre
  position: absolute;
  bottom: -3%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  z-index: 3;
  text-align: center;
  color: #4d1f06;
  font-size: 1.5rem;
  text-shadow:
    -1px -1px 2.5px #fff,
     1px -1px 2.5px #fff,
    -1px  1px 2.5px #fff,
     1px  1px 2.5px #fff;
}


//DETALLES
.error-text {
  font-size: 2rem;
  font-weight: bold;
  text-shadow:
    -1px -1px 2px #fff,
     1px -1px 2px #fff,
    -1px  1px 2px #fff,
     1px  1px 2px #fff;
}

.character-content { //marco
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;

  max-width: 1000px;
  margin: 3rem auto;
  padding: 2rem;

  background: #fff;
  border-radius: 9px;

  border: 2px solid #ffd70066;
  box-shadow: 0 0 20px #ffd70099;
}

.character-image { //imagen
  flex: 0 0 260px;
}

.character-image img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 6px 20px #00000080;
}

.content-info { //información
  flex: 1;
  line-height: 1.6;
  font-size: large;
}

.name {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.content-info p {
  margin-bottom: 0.6rem;
}

.other-names {
  max-width: 40ch;
  word-wrap: break-word
}

.hogwarts { //escudo
  flex: 0 0 280px;
  display: flex;
  align-items: center;
  justify-items: center;
  align-self: center;
}

.hogwarts img {
  width: 100%;
  height: auto;
  opacity: 0.9;
}


//BOTÓN VOLVER
.character-btn {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.btn-mischief {
  padding: 0.9rem 2.2rem;
  background-color: #6b1d1d;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  outline: none;
  border-radius: 10px;
  border: 2px solid #4e1414;
  box-shadow: 0 6px 16px #4e1414;
  cursor: pointer;
  transition:
    background-color 0.5s ease,
    transform 0.5s ease,
    box-shadow 0.5s ease;

  &:hover {
  background-color: #8a2626;
  transform: translateY(-2px);
  box-shadow: 0 10px 24px #8a2626;
  }
}
